/* reset  */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}


/* LAYOUT */
.container-70{
    width: 70%;
    margin: 0 auto;
    border: 2px solid black;

}

.container-60{
    width: 60%;
    margin: 0 auto;
    
    
    
}

/*UTILITIES*/
.blu-square{
    background-color: blue;
    height: 20px;
}

.flex-row{
    display: flex;
    flex-direction: row;
   
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.padding-20{
    padding: 20px;
}

.padding-text{
  
    padding-bottom: 20px;
}

.bg-lightblu{
    background-color: lightblue;

}

.padding-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

.margin-40{
    margin-top: 40px;
}

.margin-bottom-150{
    margin-bottom: 150px;
}

.border{
    border: 1px solid gray;
}


.gap{
    gap: 40px;
}
/* HEADER */
header{
    
        height: 80px;
}

.nav{
    width:30%;
    
}

.center{
    text-align: center;
}
/* HERO */
.hero{
    background-color: lightblue;

}
.hero-box-text{
    width:30% ;
    border: 2px dashed black;

}
.hero-box-img{
 width:70%;
 border: 2px dashed rgb(239, 16, 16);
}

/* COLUMNS */
.col-30{
    width:calc(100% / 3 - (80px / 3));
 
}

.col-header{
  
    text-align: center;
}

.flex-wrap {
    flex-wrap: wrap;
}
/* IMG-SECTION */


.col-60{
    width: 60%;
 
}

.col-40{
    width: 40%;
 
}

/* FOOTER */
footer{
    background-color: black;
    color: white;
}

