/* reset  */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
   
   
}



/* COMMON */
body{
    font-family: sans-serif;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}

img{
    width: 100%;
}

li{
    line-height:30px ;
}


/* LAYOUT */
.container-70{
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
   

}

.container-60{
    width: 60%;
    margin: 0 auto;
    max-width: 900px;
       
}

/*UTILITIES*/

.flex-row{
    display: flex;
    flex-direction: row;
   
}
.vertical-align{
    vertical-align: middle;
}
.items-center{
    align-items: center;
}


.text-center{
  
    text-align: center;
}
.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.padding-20{
    padding: 20px;
}
.padding-10{
    padding: 10px;
}

.padding-top-10{
    padding-top: 10px;
}
.padding-text{
  
    padding-bottom: 20px;
}

.padding-top-20{
    padding-top: 20px;
}


.padding-tb-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

.bg-lightblu{
    background-color: lightblue;

}


.margin-40{
    margin-top: 40px;
}

.margin-bottom-150{
    margin-bottom: 150px;
}

.margin-top-150{
    margin-top: 150px;
}

.margin-right-20{
    margin-right: 60px;}

.margin-right-1{
    margin-right: 5px;
}

.border{
    border: 1px solid rgb(203, 197, 197);
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap{
    gap: 40px;
}

.btn-blue{
    padding: 10px 2%;
    background-color: blue;
   
}

.btn-white{
    text-align: center;
    width: 50%;
    padding: 2%;
    background-color:white;
    border: 1px solid black;
    }

.text-white{
    color: white;
}
/* HEADER */
header{
    
        height: 80px;
}



.center{
    text-align: center;
}
/* HERO */
.hero{
    background-color: lightblue;

}
.hero-box-text{
    width:30% ;
    

}
.hero-box-img{
 width:70%;

}

.arrow{
    font-size: 3rem;
    font-weight: 900;
}

/* OPTION */
.btn-box{
    display: flex;
   
    align-items: center;
    width: 50%;

}

.btn-radius{
width: 20px;
height: 20px;
border: 1px solid rgb(203, 197, 197);
border-radius: 50%;
margin: 5px;
justify-content:space-around ;

}

.link{
    color: blue;
    text-decoration: underline;
}

.br{
    color: rgb(203, 197, 197);
}

/* COLUMNS SECTION */
.col-30{
    width:calc(100% / 3 - (80px / 3));
 }

 .month{
    color: gray;
 }

 .logo-list{
   
  size: 100%;
       
}

/* IMG-SECTION */


.col-60{
    width: 60%;
 
}

.col-40{
    width: 40%;
 
}



/* FOOTER */
footer{
    background-color: black;
    color: white;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    
}

.divider{
    width: 20%;
    border: 1px solid white;
}

